{% extends "layout.html" %}

{% block content %}

    <main role="main" class="container" style="max-width: 60%;">
        <h1 class="display-3 text-center mb-4">Medical Report</h1>
        
        <div class="custom-form">
            <div class="row">
                <div class="col">
                    <label>Patient Name</label>
                    <p class="form-control">{{ case.patient }}</p>
                </div>
                <div class="col">
                    <label>Doctor Name</label>
                    <p class="form-control">{{ case.user.firstname + " " + case.user.lastname }}</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <img class="img-fluid rounded" src="{{ url_for('static', filename='images/xrays/' + case.image) }}" alt="User Image">
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                          Detected Diseases
                        </div>
                        <ul class="list-group list-group-flush">
                          {% for disease in detected %}
                            <li class="list-group-item">
                              <p>{{ disease.name }} {{(disease.percentage*100)|int}}%</p>
                              <div class="progress">
                              {% if (disease.percentage*100)|int <= 50 %}
                                <div class="progress-bar" role="progressbar" style="background-image: linear-gradient(to right, hsl(100deg, 100%, 50%), hsl({{100-(disease.percentage*100)|int}}deg, 100%, 50%)); width: {{(disease.percentage*100)|int-4}}%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar" role="progressbar" style="background-image: linear-gradient(to right, rgb(0, 123, 255), rgb(159, 205, 255), rgb(0, 123, 255)); width: 8%;" aria-valuenow="{{(disease.percentage*100)|int-4}}" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar" role="progressbar" style="background-image: linear-gradient(to right, hsl({{100-(disease.percentage*100)|int}}deg, 100%, 50%) , hsl(50deg, 100%, 50%)); width: {{46-(disease.percentage*100)|int}}%;" aria-valuenow="{{100-(disease.percentage*100)|int}}" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar" role="progressbar" style="background-image: linear-gradient(to right, hsl(50deg, 100%, 50%) , hsl(0deg, 100%, 50%)); width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                              {% else %}
                                <div class="progress-bar" role="progressbar" style="background-image: linear-gradient(to right, hsl(100deg, 100%, 50%), hsl(50deg, 100%, 50%)); width: 50%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar" role="progressbar" style="background-image: linear-gradient(to right, hsl(50deg, 100%, 50%), hsl({{100-(disease.percentage*100)|int}}deg, 100%, 50%)); width: {{(disease.percentage*100)|int-54}}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar" role="progressbar" style="background-image: linear-gradient(to right, rgb(0, 123, 255), rgb(159, 205, 255), rgb(0, 123, 255)); width: 8%;" aria-valuenow="{{(disease.percentage*100)|int-4}}" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar" role="progressbar" style="background-image: linear-gradient(to right, hsl({{100-(disease.percentage*100)|int}}deg, 100%, 50%) , hsl(0deg, 100%, 50%)); width: {{96-(disease.percentage*100)|int}}%;" aria-valuenow="{{100-(disease.percentage*100)|int}}" aria-valuemin="0" aria-valuemax="100"></div>
                              {% endif %}
<!--
                                {% if ((disease.percentage*100|int) <= 25) %}
                                  <div class="progress-bar bg-success" role="progressbar" style="width: {{(disease.percentage*100|int)}}%;" aria-valuenow="{{(disease.percentage*100|int)}}" aria-valuemin="0" aria-valuemax="100">{{(disease.percentage*100|int)}}%</div>
                                {% elif (25 < (disease.percentage*100|int) <= 65) %}
                                  <div class="progress-bar bg-warning" role="progressbar" style="width: {{(disease.percentage*100|int)}}%;" aria-valuenow="{{(disease.percentage*100|int)}}" aria-valuemin="0" aria-valuemax="100">{{(disease.percentage*100|int)}}%</div>
                                {% else %}
                                  <div class="progress-bar bg-danger" role="progressbar" style="width: {{(disease.percentage*100|int)}}%;" aria-valuenow="{{(disease.percentage*100|int)}}" aria-valuemin="0" aria-valuemax="100">{{(disease.percentage*100|int)}}%</div>
                                {% endif %}-->
                                
                              </div>
                            </li>
                          {% endfor %}
                          <!-- <li class="list-group-item">
                            <p>Disease 1</p>
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div>
                          </li>

                          <li class="list-group-item">
                            <p>Disease 2</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                            </div>
                          </li>

                          <li class="list-group-item">
                            <p>Disease 3</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                            </div>
                          </li> -->
                        </ul>
                    </div>

                    {%if additional|length > 0 %}
                    <div class="card mt-4">
                        <div class="card-header">
                          Additional Diseases
                        </div>
                        <ul class="list-group list-group-flush">
                          {% for disease in additional %}
                            <li class="list-group-item">
                              {{ disease.name }}
                            </li>
                          {% endfor %}
                          <!-- <li class="list-group-item">
                            Disease 4
                          </li>

                          <li class="list-group-item">
                            Disease 5
                          </li> -->

                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <label>Additional Details</label>
                    <p class="form-control">{{ case.details }}</p>  
                </div>
                 
            </div>
        </div>

        
    </main>


{% endblock %}