{% extends "layout.html" %}

{% block content %}

    <main role="main" class="container" style="max-width: 60%;">
        <h1 class="display-3 text-center mb-4">Medical Report</h1>
        
        <div class="custom-form">
            <div class="row">
                <div class="col">
                    <label>Patient Name</label>
                    <p class="form-control">{{ case.patient }}</p>
                </div>
                <div class="col">
                    <label>Doctor Name</label>
                    <p class="form-control">{{ case.user.firstname + " " + case.user.lastname }}</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <img class="img-fluid rounded" src="{{ url_for('static', filename='images/xrays/' + case.image) }}" alt="User Image">
                    <div class="row mt-4">
                      <div class="col">
                          <label>Summary and Additional Details</label>
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="4">{{ case.details }}</textarea>  
                      </div>
                       
                    </div>
                  </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                          Detected Diseases
                        </div>
                        <ul class="list-group list-group-flush">
                          {% for disease in detected %}
                            <li class="list-group-item">
                              <p>{{ disease.name }}</p>
                            </li>
                          {% endfor %}
                        </ul>
                    </div>

                    {%if additional|length > 0 %}
                    <div class="card mt-4">
                        <div class="card-header">
                          Additional Diseases
                        </div>
                        <ul class="list-group list-group-flush">
                          {% for disease in additional %}
                            <li class="list-group-item">
                              {{ disease.name }}
                            </li>
                          {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        
    </main>


{% endblock %}