{% extends "layout.html" %}

{% block content %}

<main role="main" class="container" style="width: 60%;">

	<div class="row">
		<div class="col-3">
			<div class="card mt-4">
				<div class="list-group ">
					<a href="{{ url_for('user_cases') }}" class="list-group-item list-group-item-action active">My Cases</a>
					<a href="{{ url_for('account_settings') }}" class="list-group-item list-group-item-action">Account settings</a>
					<a href="{{ url_for('admin') }}" class="list-group-item list-group-item-action">Admin</a>

				</div>

			</div>
		</div>
		<div class="col-9">
			<div class="card mt-4">
				<div class="card-body">
					<div class="row">
						<div class="col-md-12 text-center">
							<h4>List Of Cases</h4>
							<hr>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</main>

{% endblock %}