{% extends "layout.html" %}

{% block content %}

<main role="main" class="container" style="width: 60%;">

	<div class="row">
		<div class="col-3">
			<div class="card mt-4">
				<div class="list-group ">
					<a href="{{ url_for('user_cases') }}" class="list-group-item list-group-item-action active">My Cases</a>
					<a href="{{ url_for('account_settings') }}" class="list-group-item list-group-item-action">Account settings</a>
					<a href="{{ url_for('admin') }}" class="list-group-item list-group-item-action">Admin</a>

				</div>

			</div>
		</div>
		<div class="col-9">
			<div class="card mt-4">
				<div class="card-body">
					<div class="row">
						<div class="col-md-12 text-center">
							<h4>List Of Cases</h4>
							<hr>
						</div>
					</div>
					
					<div class="row justify-content-center mx-2">

						<div class="card mb-3 mx-auto">
							<div class="row no-gutters">
								 <div class="col-md-4">
									<img src="{{url_for('static', filename='images/xrays/'+case.image)}}" class="card-img" alt="...">
								 </div>
									  <div class="col-md-8">
										<div class="card-body">
											<a href="{{url_for('report', report_id=case.id)}}" class="stretched-link"><h5 class="card-title">Case {{case.id}}</h5></a>
										  <p class="card-text">{{case.patient}}</p>
										  <p class="card-text">
												{% for disease in case.diseases %}  
													{{disease.name}}
												{% endfor %}
											</p>
										  <p class="card-text"><small class="text-muted">Created {{case.date_posted}}</small></p>
									</div>
								  </div>
							</div>
						 </div>
					</div>
						{% endfor %}
